.main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --gutter: 16px;
  max-width: calc(100% - var(--gutter) * 2);
}

@media screen and (min-width: 890px) {
  .main {
    margin-top: 64px;
    width: 890px;
  }
}

@media screen and (min-width: 1300px) {
  .main {
    width: 1280px;
  }
}

.main > h2,
.main > p {
  align-self: flex-start;
}

.container {
  z-index: 1;
}

.headerNav a:link,
.headerNav a:visited {
  color: var(--color-foreground-light);
}

.headerNav {
  display: none;
}

.headerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
}

.header h1 {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .headerContent {
    padding: 40px;
  }

  .header h1 {
    font-size: 56px;
    line-height: 56px;
  }
}

@media screen and (min-width: 1065px) {
  .headerNav {
    display: block;
  }

  .headerContent {
    padding: 40px 80px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.app > * {
  width: 100%;
}

.header {
  position: relative;
  min-height: 500px;
  background-color: var(--color-light-purple);
  display: flex;
  flex-direction: column;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.backgroundImage {
  object-fit: cover !important;
}

.logoContainer {
  align-self: flex-start;
  z-index: 1;
  position: relative;
  max-width: 170px;
}

.logo {
  z-index: 1;
  top: 0;
}

.imgContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 41, 39, 0.7);
  z-index: 1;
}

.header p {
  font-size: 20px;
  margin: 0;
}

.header h1,
.header p {
  text-align: start;
  color: var(--color-foreground-light);
}

.headerNav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 1064px) {
  .headerNav ul {
    flex-direction: column;
  }
}

.headerNav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerNav a:visited,
.headerNav a:link {
  text-decoration: none;
}

.submitLink a:visited,
.submitLink a:link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-red);
  color: var(--color-foreground);
  padding: 12px 32px;
  border-radius: 50px;
}
