.event {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  position: relative;
}

@media screen and (min-width: 420px) {
  .event {
    width: 400px;
  }
}

.imgDate, .date {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  width: 87px;
  height: 82px;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  align-self: center;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  background-color: var(--color-blue);
  color: var(--color-foreground);
  z-index: 2;
  font-weight: 500;
}

.date {
  position: relative;
  top: unset;
  left: unset;
  background-color: transparent;
}

.imgDate span:nth-of-type(2), .date span:nth-of-type(2) {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.diffDate {
  height: 66px;
}

.diffDate span:nth-of-type(1) {
  font-size: 20px;
  line-height: 24px;
}

.img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--color-light-beige);
}

.content time {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey);
}

.content h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: black;
  margin: 4px 0 0;
}

.content p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 250px;
  background-color: var(--color-beige);
}

.content a:link,
.content a:visited {
  margin-right: auto;
  font-weight: 500;
}

.eventLink:link, .eventLink:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
  background-color: var(--color-green);
  color: var(--color-foreground);
  border-radius: 50px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
}

.eventLink:hover {
  background-color: var(--color-purple);
}

.info {
  margin: 5px 0 16px 0;
  white-space: pre-wrap;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  line-height: 18px;
}

.info[data-state="open"] {
  display: flex;
}

.infoContainer {
  display: flex;
  gap: 7px;
}

.infoContainer span:first-of-type {
  font-weight: 500;
}

.infoContainer:last-of-type {
  flex-direction: column;
  gap: 3px;
}

.infoContainer:last-of-type span:last-of-type {
  font-size: 12px;
  line-height: 16px;
}

.info a:link,
.info a:visited {
  color: var(--color-dark-purple);
  font-weight: 500;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  gap: 8px;
  padding: 0;
}

.readMore, .readMore:hover, .readMore:focus {
  border: none;
  padding: 0;
  margin: 0;
  color: var(--color-dark-purple);
  text-decoration: underline;
  background-color: transparent;
  text-align: start;
  font-weight: 500;
}

.tagList__item {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: var(--color-beige);
  color: var(--color-foreground);
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
}
